In [14]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "id":[1,2,3,1,5],
    "name":["张三","李四","王五","张三","王物流"],
    "age":[10,20,30,10,50]
},index=['a','b','c','d','e'],columns=['id','age','name'])



print(df.head())
print(df.head(2))
print(df.tail())
print(df.tail(2))


# 随机取样
print(df.sample(3))

# 判断元素是否在集合里，注意这里是逐个元素判断，不是按行/列判断
print(df.isin(['张三',10]))


print(df.age.sum())
print(df.age.max())
print(df.age.min())
print(df.age.mean())
print(df.age.median())
print(df.age.mode())
print(df.age.std())
print(df.age.var())
print(df.describe())

   id  age name
a   1   10   张三
b   2   20   李四
c   3   30   王五
d   1   10   张三
e   5   50  王物流
   id  age name
a   1   10   张三
b   2   20   李四
   id  age name
a   1   10   张三
b   2   20   李四
c   3   30   王五
d   1   10   张三
e   5   50  王物流
   id  age name
d   1   10   张三
e   5   50  王物流
   id  age name
d   1   10   张三
a   1   10   张三
b   2   20   李四
      id    age   name
a  False   True   True
b  False  False  False
c  False  False  False
d  False   True   True
e  False  False  False
120
50
10
24.0
20.0
0    10
Name: age, dtype: int64
16.73320053068151
280.0
            id        age
count  5.00000   5.000000
mean   2.40000  24.000000
std    1.67332  16.733201
min    1.00000  10.000000
25%    1.00000  10.000000
50%    2.00000  20.000000
75%    3.00000  30.000000
max    5.00000  50.000000

In [19]:
# 每一列非缺失值的数量
print(df.count())
# 按行统计出现的次数（如果两行数据一样则会统计在一起）
print(df.value_counts())
# 去重
print(df.drop_duplicates())
print('=--------------------------------')
# 查看重复(可以查看具体列)
print(df.duplicated(subset=['name']))

# 元素替换
print(df.replace('张三','张三三'))

id      5
age     5
name    5
dtype: int64
id  age  name
1   10   张三      2
2   20   李四      1
3   30   王五      1
5   50   王物流     1
Name: count, dtype: int64
   id  age name
a   1   10   张三
b   2   20   李四
c   3   30   王五
e   5   50  王物流
=--------------------------------
a    False
b    False
c    False
d     True
e    False
dtype: bool
   id  age name
a   1   10  张三三
b   2   20   李四
c   3   30   王五
d   1   10  张三三
e   5   50  王物流

In [30]:
# 按索引排序
print(df.sort_index(ascending=False))
# 按列排序
print(df.sort_values(by='age'))


df = pd.DataFrame({
    "id":[1,2,3,4,5],
    "name":["张三","李四","王五","张三","王物流"],
    "age":[10,20,30,40,50]
},index=['a','b','c','d','e'],columns=['id','age','name'])
# 多列排序
print(df.sort_values(by=['name','age'], ascending=[True, False]))

# 取最大的几行, columns 排序依据
print(df.nlargest(2,columns=['id','age']))

# 取最小的几行
print(df.nsmallest(2,columns=['id','age']))

   id  age name
e   5   50  王物流
d   4   40   张三
c   3   30   王五
b   2   20   李四
a   1   10   张三
   id  age name
a   1   10   张三
b   2   20   李四
c   3   30   王五
d   4   40   张三
e   5   50  王物流
   id  age name
d   4   40   张三
a   1   10   张三
b   2   20   李四
c   3   30   王五
e   5   50  王物流
   id  age name
e   5   50  王物流
d   4   40   张三
   id  age name
a   1   10   张三
b   2   20   李四